name: CI Pipeline

on:
  pull_request:
  push:
    branches: [ "feature/**" ]

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Install Dependencies
      run: cd codebase/rdicidr-0.1.0 && npm ci
    
    - name: Lint code
      run: cd codebase/rdicidr-0.1.0 && npm run lint


