name: CI Pipeline

on:
  pull_request:
  push:
    branches: [ "feature/**" ]

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 15
    - run: cd codebase/rdicidr-0.1.0 && npm ci
    - run: cd codebase/rdicidr-0.1.0 && npm test


